{% extends 'core/list.html' %}
{% load static %}

{% block custom_list_card_buttons %}
    {% if perms.users.delete_role %}
        <button type="button" class="btn btn-danger m-1 custom-table-actions-button" style="display: none;" data-url="{% url 'users:roles_delete_multiple' %}" data-text="¿Desea eliminar los roles seleccionados?" data-modal-type="danger">
            <i class="fas fa-trash"></i> Eliminar
        </button>
    {% endif %}
{% endblock %}

{% block table_headers %}
    <th>
        <div class="custom-control custom-checkbox">
            <input class="custom-control-input custom-control-input-lightblue" type="checkbox" id="select-all-items-checkbox">
            <label for="select-all-items-checkbox" class="custom-control-label"></label>
        </div>
    </th>
    <th>Nombre</th>
    <th>Permisos</th>
    <th>Acciones</th>
{% endblock %}

{% block content_modals %}
    {% include 'roles/modals/info_list.html' %}
{% endblock %}
