{% extends 'core/list.html' %}
{% load static %}

{% block table_headers %}
    <th>
        <div class="custom-control custom-checkbox">
            <input class="custom-control-input custom-control-input-lightblue" type="checkbox" id="select-all-items-checkbox">
            <label for="select-all-items-checkbox" class="custom-control-label"></label>
        </div>
    </th>
    <th>Nombre</th>
    <th>Permisos</th>
    <th>Acciones</th>
{% endblock %}

{% block custom_list_card_buttons %}
    <button type="button" class="btn bg-maroon m-1" data-toggle="modal" data-target="#info-modal">
        <i class="fas fa-info-circle"></i>
    </button>
{% endblock %}

{% block content_modals %}
    {% include 'roles/modals/info_list.html' %}
{% endblock %}
