{% extends 'core/list.html' %}

{% block table_headers %}
    <th>Nombre</th>
    <th>Precio</th>
    <th>Stock</th>
    <th>Acciones</th>
{% endblock %}

{% block table_scripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            CommonDataTable.init({
                table_id: "#main-table",
                source_url: window.location.href,
                columns: [
                    { data: "name" },
                    { data: "price" },
                    { data: "stock" },
                    { data: "id" },
                ],
                columnDefs: [
                    {
                        targets: [-1],
                        orderable: false,
                        render: function (data, type, row) {
                            let update_url = `{% url 'products:update' 0 %}`.replace(
                                "0",
                                data
                            );
                            let delete_url = `{% url 'products:delete' 0 %}`.replace(
                                "0",
                                data
                            );
                            let detail_url = `{% url 'prints:list' 0 %}`.replace(
                                "0",
                                data
                            );
                            return `
                                <a href="${detail_url}" class="btn btn-info">
                                    <i class="fas fa-eye"></i>
                                </a>
                                <a href="${update_url}" class="btn btn-warning">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="${delete_url}" class="btn btn-danger">
                                    <i class="fas fa-trash"></i>
                                </a>
                            `;
                        },
                    },
                ],
            });
        });
    </script>
{% endblock %}
