amqp==5.3.1
asgiref==3.11.1
asttokens==3.0.1
billiard==4.2.4
black==26.1.0
celery==5.6.2
certifi==2026.4.22
cffi==2.0.0
cfgv==3.5.0
charset-normalizer==3.4.7
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
crispy-bootstrap4==2026.2
cryptography==47.0.0
decorator==5.2.1
distlib==0.4.0
Django==6.0.2
django-crispy-forms==2.5
django-datatables-view==1.20.0
django-extensions==4.1
django-filter==25.2
django-oauth-toolkit==3.2.0
django-phonenumber-field==8.4.0
django-redis==6.0.0
django-simple-history==3.11.0
django-widget-tweaks==1.5.1
djangorestframework==3.16.1
executing==2.2.1
filelock==3.24.2
gunicorn==25.1.0
identify==2.6.16
idna==3.13
ipython==9.10.0
ipython_pygments_lexers==1.1.1
isort==7.0.0
jedi==0.19.2
jwcrypto==1.5.7
kombu==5.6.2
Markdown==3.10.2
matplotlib-inline==0.2.1
mypy_extensions==1.1.0
nodeenv==1.10.0
oauthlib==3.3.1
packaging==26.0
parso==0.8.6
pathspec==1.0.4
pexpect==4.9.0
phonenumbers==9.0.24
pillow==12.1.1
platformdirs==4.9.2
pre_commit==4.5.1
prompt_toolkit==3.0.52
psycopg2-binary==2.9.11
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==3.0
Pygments==2.19.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytokens==0.4.1
pytz==2025.2
PyYAML==6.0.3
redis==7.2.0
requests==2.33.1
ruff==0.15.1
six==1.17.0
sqlparse==0.5.5
stack-data==0.6.3
traitlets==5.14.3
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
urllib3==2.6.3
vine==5.1.0
virtualenv==20.36.1
wcwidth==0.6.0
whitenoise==6.11.0
