{% extends 'core/list.html' %}

{% block previous_content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Orden Nº {{ object.id }}</h3>
                    <div class="card-tools">
                    </div>
                </div>
                <div class="card-body">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="#" class="nav-link" style="color: black; pointer-events: none;">
                                Total <span class="float-right badge bg-success">${{ object.get_total_cost }}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" style="color: black; pointer-events: none;">
                                Cliente <span class="float-right badge bg-primary">{{ object.client.full_name }}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" style="color: black; pointer-events: none;">
                                Estado <span class="float-right badge bg-{{ object.get_state_style }}">{{ object.get_state_display }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block table_headers %}
    <th>Producto</th>
    <th>Cantidad</th>
    <th>Estado</th>
    <th>Sub-total</th>
    <th>Acciones</th>
{% endblock %}

{% block list_footer %}
    <div class="row">
        <div class="col-12 text-center">
            <a class="btn btn-outline-secondary" href="{% url 'orders:list' %}"><i class="fas fa-caret-left"></i> Volver</a>
        </div>
    </div>
{% endblock%}
