{% load static %}

<script src="{% static 'lib\landing\js\jquery.min.js' %}"></script>
<script src="{% static 'lib\landing\js\bootstrap.min.js' %}"></script>
<script src="{% static 'lib\landing\js\menumaker.js' %}"></script>
<script src="{% static 'lib\landing\js\wow.js' %}"></script>
<script src="{% static 'lib\landing\js\custom.js' %}"></script>
<script src="{% static 'lib\landing\revolution\js\jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'lib\landing\revolution\js\jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'lib\landing\revolution\js\extensions\revolution.extension.actions.min.js' %}"></script>
<script src="{% static 'lib\landing\revolution\js\extensions\revolution.extension.carousel.min.js' %}"></script>
<script src="{% static 'lib\landing\revolution\js\extensions\revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static 'lib\landing\revolution\js\extensions\revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'lib\landing\revolution\js\extensions\revolution.extension.migration.min.js' %}"></script>
<script src="{% static 'lib\landing\revolution\js\extensions\revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'lib\landing\revolution\js\extensions\revolution.extension.parallax.min.js' %}"></script>
<script src="{% static 'lib\landing\revolution\js\extensions\revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'lib\landing\revolution\js\extensions\revolution.extension.video.min.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        active_section = "{{ active_section }}";
        $nav_items = document.querySelectorAll(`[selection=${active_section}]`);
        $nav_items.forEach(function ($nav_item) {
            $nav_item.classList.add("active");
        });
    });
</script>
