{% extends 'core/list.html' %}

{% block previous_content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Configuraciones necesarias para la impresion</h3>
                    <div class="card-tools">
                    </div>
                </div>
                <div class="card-body">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="#" class="nav-link" style="color: black; pointer-events: none;">
                                Altura de capa <span class="float-right badge bg-primary">{{ object.layer_height }} mm</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" style="color: black; pointer-events: none;">
                                Relleno <span class="float-right badge bg-warning">{{ object.infill }} %</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" style="color: black; pointer-events: none;">
                                Boquilla <span class="float-right badge bg-danger">{{ object.nozzle }} mm</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" style="color: black; pointer-events: none;">
                                Velocidad de impresion <span class="float-right badge bg-secondary">{{ object.speed }} mm/s</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block table_headers %}
    <th>Nombre</th>
    <th>Escala X</th>
    <th>Escala Y</th>
    <th>Escala Z</th>
    <th>Cantidad</th>
    <th>Acciones</th>
{% endblock %}

{% block list_footer %}
    <div class="row">
        <div class="col-12 text-center">
            <a class="btn btn-outline-secondary" href="{% url 'prints:list' object.product.id %}"><i class="fas fa-caret-left"></i> Volver</a>
        </div>
    </div>
{% endblock%}
