{% load static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="{% url 'landing:index' %}" class="brand-link">
        <img src="{% static 'img/blaster-logo.webp' %}" alt="Blaster" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">blaster</span>
    </a>

    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% static 'img/user.png' %}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ request.user.username }}</a>
            </div>
        </div>

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="{% url 'dashboard:index' %}" class="nav-link" selection="dashboard">
                        <i class="nav-icon fas fa-home"></i>
                        <p>Inicio</p>
                    </a>
                </li>
                {% if perms.clients.view_client %}
                    <li class="nav-item">
                        <a href="{% url 'clients:list' %}" class="nav-link" selection="clients">
                            <i class="nav-icon fas fa-users"></i>
                            <p>Clientes</p>
                        </a>
                    </li>
                {% endif %}
                {% if perms.products.view_product %}
                    <li class="nav-item">
                        <a href="{% url 'products:list' %}" class="nav-link" selection="products">
                            <i class="nav-icon fas fa-box"></i>
                            <p>Productos</p>
                        </a>
                    </li>
                {% endif %}
                {% if perms.orders.view_order %}
                    <li class="nav-item">
                        <a href="{% url 'orders:list' %}" class="nav-link" selection="orders">
                            <i class="nav-icon fas fa-clipboard-list"></i>
                            <p>Pedidos</p>
                        </a>
                    </li>
                {% endif %}
                {% if perms.prints.view_printmaterial %}
                    <li class="nav-item">
                        <a href="{% url 'prints:materials' %}" class="nav-link" selection="materials">
                            <i class="nav-icon fas fa-ring"></i>
                            <p>Materiales</p>
                        </a>
                    </li>
                {% endif %}
                {% if perms.financials.view_account %}
                    <li class="nav-item">
                        <a href="{% url 'financials:account' %}" class="nav-link" selection="financials">
                            <i class="nav-icon fas fa-university"></i>
                            <p>Cuenta</p>
                        </a>
                    </li>
                {% endif %}
                {% if perms.financials.view_transaction %}
                    <li class="nav-item">
                        <a href="{% url 'financials:transactions' %}" class="nav-link" selection="transactions">
                            <i class="nav-icon fas fa-hand-holding-usd"></i>
                            <p>Transacciones</p>
                        </a>
                    </li>
                {% endif %}
                {% if perms.users.view_user %}
                    <li class="nav-item">
                        <a href="{% url 'users:list' %}" class="nav-link" selection="users">
                            <i class="nav-icon fas fa-users-cog"></i>
                            <p>Usuarios</p>
                        </a>
                    </li>
                {% endif %}
                {% if perms.users.view_role %}
                    <li class="nav-item">
                        <a href="{% url 'users:roles' %}" class="nav-link" selection="roles">
                            <i class="nav-icon fas fa-user-tag"></i>
                            <p>Roles</p>
                        </a>
                    </li>
                {% endif %}
                {% if perms.printrates.view_printrate %}
                    <li class="nav-item">
                        <a href="{% url 'printrates:list' %}" class="nav-link" selection="configuration">
                            <i class="nav-icon fas fa-cogs"></i>
                            <p>Configuracion</p>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</aside>
