{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{% static 'img/blaster-logo.ico' %}" type="image/ico">
        <title>{{ title }}</title>

        {% include 'core/styles.html' %}
        {% block styles %}{% endblock %}
    </head>

    <body class="hold-transition sidebar-mini layout-fixed">
        <div class="wrapper">
            {% include 'core/navbar.html' %}
            {% include 'core/aside.html' %}

            <div class="content-wrapper">
                <div class="content-header">
                    <div class="container-fluid">
                        {% block content_header %}{% endblock %}
                    </div>
                </div>
                <section class="content">
                    <div class="container-fluid">
                        {% block content %}{% endblock %}
                    </div>
                </section>
            </div>

            {% include 'core/footer.html' %}
        </div>

        {% include 'core/scripts.html' %}
        {% block scripts %}{% endblock %}
    </body>
</html>