{% extends 'core/body.html' %}
{% load static %}

{% block styles %}
    {% include 'core/form_styles.html' %}
    {% block extra_styles %}{% endblock %}
{% endblock %}

{% block content %}
    {% block previous_content %}{% endblock %}

    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                    <div class="card-title">
                        <h5>{{ title }}</h5>
                    </div>
                    <div class="card-tools">
                        {% block modal_info %}{% endblock %}
                    </div>
                </div>
                <div class="card-body">
                    {% block card_intro %}{% endblock %}
                    {% block form %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

    {% block next_content %}{% endblock %}
{% endblock %}

{% block scripts %}
    {% include 'core/form_scripts.html' %}
    {% block extra_scripts %}{% endblock %}
{% endblock %}
