{% extends 'core/body.html' %}
{% load static crispy_forms_tags %}

{% block style %}
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/plugins/select2/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/plugins/daterangepicker/daterangepicker.css' %}">
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">

    {% block extra_style %}
    {% endblock %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h5>{{ title }}</h5>
                </div>
                <div class="card-body">
                    {% block form %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'lib/adminlte-3.2.0/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.2.0/plugins/select2/js/select2.full.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.2.0/plugins/moment/moment-with-locales.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.2.0/plugins/jquery-validation/jquery.validate.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.2.0/plugins/jquery-validation/additional-methods.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.2.0/plugins/jquery-validation/localization/messages_es.js' %}"></script>
    <script src="{% static 'js/validations/common/form-validation.js' %}"></script>
    <script>
        $(function(){
            $('.select2').select2({
                theme: "bootstrap4"
            });
            $('.date').datetimepicker({
                format:'DD/MM/YYYY',
            });
            $('.timepicker').datetimepicker({
                format: 'HH:mm',
                timePickerIncrement: 30,
            })
        });
    </script>

    {% block extra_scripts %}
    {% endblock %}
{% endblock %}
