{% extends 'core/body.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">

    {% block table_styles %}
    {% endblock %}
{% endblock %}

{% block content %}
    {% block previous_content %}{% endblock %}
    {% csrf_token %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ title }}</h3>
                    <div class="card-tools">
                        {% block custom_list_card_buttons %}{% endblock %}
                        {% if create_url %}
                            <a href="{{ create_url }}" class="btn btn-primary m-1">
                                <i class="fas fa-plus"></i> Agregar
                            </a>
                        {% endif %}
                        {% block modal_info %}{% endblock %}
                    </div>
                </div>

                <div class="card-body">
                    {% block previous_card_content %}
                    {% endblock %}

                    {% block table_filters %}
                    {% endblock %}

                    {% block previous_table_content %}
                    {% endblock %}

                    <div class="row mt-3">
                        <div class="col-12">
                            <table id="main-table" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        {% block table_headers %}
                                        {% endblock %}
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>

                    {% block next_table_content %}
                    {% endblock %}

                    {% block next_card_content %}
                    {% endblock %}
                </div>

                <div class="card-footer">
                    {% block list_footer %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    {% block next_content %}{% endblock %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'lib/adminlte-3.2.0/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.2.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.2.0/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.2.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.2.0/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.2.0/plugins/jszip/jszip.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.2.0/plugins/pdfmake/pdfmake.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.2.0/plugins/pdfmake/vfs_fonts.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'js/datatables/common/datatables.js' %}"></script>

    {% block table_buttons_script %}
        <script src="{% static 'js/datatables/common/default-buttons.js' %}"></script>
    {% endblock %}

    <script>
        $(document).ready(function(){
            CommonDataTable.init({
                table_id: "#main-table",
                source_url: "{{ json_view_url }}",
                columnDefs: [
                    {
                        targets: [-1],
                        orderable: false,
                    },
                ],
                buttonsConfig: buttons_config,
                initComplete: function(){
                    initDatatableComplete();
                },
            });
        })
    </script>
    {% block table_scripts %}{% endblock %}
{% endblock %}
