{% load static %}

<script src="{% static 'lib/adminlte-3.2.0/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/plugins/toastr/toastr.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/js/adminlte.min.js' %}"></script>
<script type="application/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        active_section = "{{ active_section }}";
        $nav_items = document.querySelectorAll(`[selection=${active_section}]`);
        $nav_items.forEach(function ($nav_item) {
            $nav_item.classList.add("active");
            const $parent_li = $nav_item.closest('li').parentElement.closest('li');
            const $parent_anchor = $nav_item.closest('li').parentElement.parentElement.querySelector('a');

            if ($parent_li && $parent_anchor){
                $parent_li.classList.add("menu-open");
                $parent_anchor.classList.add("active");
            }
        });
    });

    {% if messages %}
        {% for message in messages %}
            toastr["{{ message.tags }}"]("{{ message }}");
        {% endfor %}
    {% endif %}
</script>
