{% extends 'landing/base/home.html' %}
{% load static %}

{% block content %}
    <div id="inner_banner" class="section inner_banner_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="title-holder">
                            <div class="title-holder-cell text-left">
                                <h1 class="page-title">
                                    Acerca de Blaster Impresiones
                                </h1>
                                <ol class="breadcrumb">
                                    <li>
                                        <a href="{% url 'landing:index' %}"
                                            >Inicio</a
                                        >
                                    </li>
                                    <li class="active">Acerca de</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section padding_layout_1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="main_heading text_align_center">
                            <h2>Somos Pioneros en Impresión 3D</h2>
                            <p class="large">
                                Ofrecemos servicios de impresión 3D, modelado y
                                asesoramiento personalizado para transformar tus
                                ideas en realidad.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row about_blog">
                <div class="col-lg-6 col-md-6 col-sm-12 about_cont_blog">
                    <div class="full text_align_left">
                        <h3>Lo que hacemos</h3>
                        <p>
                            En Blaster Impresiones, llevamos tus proyectos desde la
                            concepción hasta la realidad física. Utilizamos
                            tecnología de impresión 3D de vanguardia para
                            materializar tus ideas con precisión y calidad. Ya sea
                            un prototipo, una pieza de arte o un componente
                            específico, nuestro equipo de expertos está listo para
                            asesorarte y guiarte en cada paso.
                        </p>
                        <ul>
                            <li>
                                <i class="fa fa-check-circle"></i>Impresión 3D de
                                alta calidad para todo tipo de proyectos.
                            </li>
                            <li>
                                <i class="fa fa-check-circle"></i>Modelado 3D
                                profesional para dar forma a tus ideas.
                            </li>
                            <li>
                                <i class="fa fa-check-circle"></i>Asesoramiento
                                experto en tecnologías y materiales de impresión 3D.
                            </li>
                        </ul>
                    </div>
                </div>
                <div
                    class="col-lg-6 col-md-6 col-sm-12 about_feature_img padding_right_0"
                >
                    <div class="full text_align_center">
                        <img
                            class="img-responsive"
                            src="{% static 'lib/landing/images/blaster/printer-2416269.jpg' %}"
                            alt="#"
                        />
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 35px">
                <div class="col-md-8">
                    <div class="full margin_bottom_30">
                        <div class="accordion border_circle">
                            <div class="bs-example">
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <p class="panel-title">
                                                <a
                                                    data-toggle="collapse"
                                                    data-parent="#accordion"
                                                    href="#collapseOne"
                                                >
                                                    <i
                                                        class="fa fa-cogs"
                                                        aria-hidden="true"
                                                    ></i>
                                                    Personalización de Proyectos de
                                                    Impresión 3D
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                            </p>
                                        </div>
                                        <div
                                            id="collapseOne"
                                            class="panel-collapse collapse in"
                                        >
                                            <div class="panel-body">
                                                <p>
                                                    Cada proyecto es único y en
                                                    Blaster Impresiones lo sabemos.
                                                    Ofrecemos un servicio de
                                                    personalización que se adapta a
                                                    las necesidades específicas de
                                                    tus proyectos de impresión 3D,
                                                    asegurando que cada pieza sea
                                                    exactamente como la imaginaste,
                                                    con la máxima fidelidad y
                                                    precisión. Nuestro equipo de
                                                    especialistas trabaja de la mano
                                                    contigo para seleccionar los
                                                    mejores materiales y técnicas de
                                                    impresión, garantizando
                                                    resultados excepcionales que
                                                    superan las expectativas.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <p class="panel-title">
                                                <a
                                                    data-toggle="collapse"
                                                    data-parent="#accordion"
                                                    href="#collapseTwo"
                                                >
                                                    <i class="fa fa-laptop"></i>
                                                    Modelado 3D Profesional
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                            </p>
                                        </div>
                                        <div
                                            id="collapseTwo"
                                            class="panel-collapse collapse"
                                        >
                                            <div class="panel-body">
                                                <p>
                                                    Nuestro servicio de modelado 3D
                                                    está diseñado para transformar
                                                    tus ideas en modelos digitales
                                                    detallados listos para imprimir.
                                                    Contamos con un equipo de
                                                    diseñadores expertos capaces de
                                                    crear desde simples diseños
                                                    hasta complejas estructuras 3D,
                                                    asegurando que cada detalle sea
                                                    capturado con precisión. Este
                                                    proceso permite una
                                                    visualización previa del
                                                    producto final, ofreciendo la
                                                    oportunidad de realizar ajustes
                                                    y optimizaciones antes de la
                                                    impresión, asegurando la
                                                    satisfacción total con el
                                                    resultado final.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <p class="panel-title">
                                                <a
                                                    data-toggle="collapse"
                                                    data-parent="#accordion"
                                                    href="#collapseThree"
                                                >
                                                    <i class="fa fa-globe"></i>
                                                    Asesoramiento en Impresión 3D
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                            </p>
                                        </div>
                                        <div
                                            id="collapseThree"
                                            class="panel-collapse collapse"
                                        >
                                            <div class="panel-body">
                                                <p>
                                                    El mundo de la impresión 3D está
                                                    en constante evolución, y
                                                    mantenerse al día con las
                                                    últimas tecnologías y materiales
                                                    puede ser un desafío. En Blaster
                                                    Impresiones, ofrecemos
                                                    asesoramiento experto para
                                                    ayudarte a navegar por este
                                                    complejo panorama. Desde la
                                                    elección del material adecuado
                                                    hasta la comprensión de las
                                                    técnicas de impresión más
                                                    efectivas para tu proyecto,
                                                    nuestro equipo está aquí para
                                                    asegurar que aproveches al
                                                    máximo la impresión 3D,
                                                    optimizando tanto la calidad
                                                    como los costos de tus
                                                    proyectos.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <p class="panel-title">
                                                <a
                                                    data-toggle="collapse"
                                                    data-parent="#accordion"
                                                    href="#collapseFour"
                                                >
                                                    <i class="fa fa-heart"></i>
                                                    Compromiso con la Calidad y la
                                                    Innovación
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                            </p>
                                        </div>
                                        <div
                                            id="collapseFour"
                                            class="panel-collapse collapse"
                                        >
                                            <div class="panel-body">
                                                <p>
                                                    En Blaster Impresiones, nuestro
                                                    compromiso con la calidad y la
                                                    innovación es el núcleo de todo
                                                    lo que hacemos. Utilizamos sólo
                                                    las impresoras 3D más avanzadas
                                                    y materiales de la más alta
                                                    calidad, asegurando que cada
                                                    proyecto no solo cumpla, sino
                                                    que exceda las expectativas de
                                                    nuestros clientes. Estamos
                                                    constantemente explorando nuevas
                                                    técnicas y materiales para
                                                    ofrecer las soluciones más
                                                    innovadoras y efectivas en
                                                    impresión 3D, manteniéndonos
                                                    siempre a la vanguardia de la
                                                    tecnología.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="full" style="margin-top: 35px">
                        <h3>¿Interesado en nuestros servicios?</h3>
                        <p>
                            Explora las posibilidades que la impresión 3D tiene para
                            ofrecerte. Contacta con Blaster Impresiones hoy mismo y
                            da el primer paso hacia la materialización de tus ideas.
                            Nuestro equipo está listo para asesorarte y acompañarte
                            en cada fase de tu proyecto, garantizando soluciones
                            personalizadas y de alta calidad que den vida a tus
                            visiones más innovadoras.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
