{% extends 'core/list.html' %}

{% block previous_content %}
    {% if perms.products.view_product %}
        <div class="row">
            <div class="col-12">
                <div class="card card-primary card-tabs">
                    <div class="card-header p-0 pt-1">
                        <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
                            <li class="pt-2 px-3">
                                <h3 class="card-title">{{ product.name }}</h3>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" id="custom-tabs-details-tab" data-toggle="pill" href="#custom-tabs-details" role="tab" aria-controls="custom-tabs-details" aria-selected="false">Detalles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="custom-tabs-description-tab" data-toggle="pill" href="#custom-tabs-description" role="tab" aria-controls="custom-tabs-description" aria-selected="true">Descripcion</a>
                            </li>
                            {% if product.image %}
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-tabs-image-tab" data-toggle="pill" href="#custom-tabs-image" role="tab" aria-controls="custom-tabs-image" aria-selected="false">Imagen</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="custom-tabs-two-tabContent">
                            <div class="tab-pane fade show active" id="custom-tabs-details" role="tabpanel" aria-labelledby="custom-tabs-details-tab">
                                <ul class="nav flex-column m-1">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link" style="color: black; pointer-events: none;">
                                            Precio <span class="float-right badge bg-success">${{ product.price }}</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link" style="color: black; pointer-events: none;">
                                            Unidades en stock <span class="float-right badge bg-primary">{{ product.stock }}</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link" style="color: black; pointer-events: none;">
                                            Visible al publico <span class="float-right badge bg-info">{% if product.available %}Si{% else %}No{% endif %}</span>
                                        </a>
                                    </li>
                                    <li class="nav-item"></li>
                                </ul>
                                <div class="row mt-2">
                                    <div class="col-12 text-center">
                                        <a href="{{ product.link }}" target="_blank" class="btn btn-primary"><i class="fas fa-download"></i> Descargar modelos</a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="custom-tabs-description" role="tabpanel" aria-labelledby="custom-tabs-description-tab">
                                {{ product.description }}
                            </div>
                            {% if product.image %}
                                <div class="tab-pane fade" id="custom-tabs-image" role="tabpanel" aria-labelledby="custom-tabs-image-tab">
                                    <div class="col-12">
                                        <img src="{{ product.image.url }}" class="product-image" alt="Product Image" style="height: auto;">
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block next_content %}
    {% if perms.products.view_extraproductcost %}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Costos extra del producto</h3>
                        <div class="card-tools">
                            <a href="{% url 'products:extra_costs_create' product.id %}" class="btn btn-primary">
                                <i class="fas fa-plus"></i> Agregar
                            </a>
                        </div>
                    </div>

                    <div class="card-body">
                        <table id="extra-costs-table" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Monto</th>
                                    <th>Descripcion</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                    <div class="card-footer"></div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if perms.products.view_productimage %}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Imágenes del producto</h3>
                        <div class="card-tools">
                            <a href="{% url 'products:images_create' product.id %}" class="btn btn-primary">
                                <i class="fas fa-plus"></i> Agregar
                            </a>
                        </div>
                    </div>

                    <div class="card-body">
                        <table id="product-images-table" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Imágen</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                    <div class="card-footer"></div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block table_headers %}
    <th>
        <div class="custom-control custom-checkbox">
            <input class="custom-control-input custom-control-input-lightblue" type="checkbox" id="select-all-items-checkbox">
            <label for="select-all-items-checkbox" class="custom-control-label"></label>
        </div>
    </th>
    <th>Horas</th>
    <th>Minutos</th>
    <th>Gramos</th>
    <th>Material</th>
    <th>Colores disponibles</th>
    <th>Precio</th>
    <th>Acciones</th>
{% endblock %}

{% block list_footer %}
    <div class="row">
        <div class="col-12 text-center">
            <a class="btn btn-outline-secondary" href="{% url 'products:list' %}"><i class="fas fa-caret-left"></i> Volver</a>
        </div>
    </div>
{% endblock%}

{% block table_scripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            if ("{{ perms.products.view_extraproductcost }}" == "True"){
                CommonDataTable.init({
                    table_id: "#extra-costs-table",
                    source_url: "{% url 'products:extra_costs_json' product.id %}",
                    columnDefs: [
                        {
                            targets: [-1],
                            orderable: false,
                        },
                    ],
                });
            }

            if ("{{ perms.products.view_productimage }}" == "True"){
                CommonDataTable.init({
                    table_id: "#product-images-table",
                    source_url: "{% url 'products:images_json' product.id %}",
                    columnDefs: [
                        {
                            targets: [-1],
                            orderable: false,
                        },
                    ],
                });
            }
        });
    </script>
{% endblock %}
