{% extends 'core/body.html' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-success">
                <div class="card-header">
                    <h5>{{ title }}</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="info-box">
                                <span class="info-box-icon bg-info elevation-1"
                                    ><i class="fas fa-users"></i
                                ></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Clientes registrados</span>
                                    <span class="info-box-number">
                                        {{ clients_count }}
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="info-box mb-3">
                                <span class="info-box-icon bg-danger elevation-1"
                                    ><i class="fas fa-box"></i
                                ></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Productos creados</span>
                                    <span class="info-box-number">{{ products_count }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix hidden-md-up"></div>

                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="info-box mb-3">
                                <span class="info-box-icon bg-success elevation-1"
                                    ><i class="fas fa-shopping-cart"></i
                                ></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Pedidos completados</span>
                                    <span class="info-box-number">{{ completed_orders_count }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="info-box mb-3">
                                <span class="info-box-icon bg-warning elevation-1"
                                    ><i class="fas fa-clipboard-list"></i
                                ></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Pedidos pendientes</span>
                                    <span class="info-box-number">{{ pending_orders_count }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
