{% extends 'core/body.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Cuenta personal</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                    <span class="info-box-text text-center text-muted">Disponible</span>
                                    <span class="info-box-number text-center text-muted mb-0">$ {{ account.balance }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                    <span class="info-box-text text-center text-muted">Ingresos</span>
                                    <span class="info-box-number text-center text-muted mb-0">$ {{ account.incomes }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                    <span class="info-box-text text-center text-muted">Egresos</span>
                                    <span class="info-box-number text-center text-muted mb-0">$ {{ account.expenses }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Transacciones</h3>
                    <div class="card-tools">
                        <a href="{% url 'financials:transactions_create' %}?from_personal_account=true" class="btn btn-primary">
                            <i class="fas fa-plus"></i> Agregar
                        </a>
                    </div>
                </div>

                <div class="card-body">
                    <table id="transactions-table" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Concepto</th>
                                <th>Monto</th>
                                <th>Origen</th>
                                <th>Destino</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

                <div class="card-footer">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'lib/adminlte-3.2.0/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.2.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.2.0/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.2.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.2.0/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.2.0/plugins/jszip/jszip.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.2.0/plugins/pdfmake/pdfmake.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.2.0/plugins/pdfmake/vfs_fonts.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'js/datatables/common/datatables.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            CommonDataTable.init({
                table_id: "#transactions-table",
                source_url: "{% url 'financials:transactions' %}?from_personal_account=true",
                columns: [
                    { data: "date" },
                    { data: "description" },
                    { data: "amount" },
                    { data: "from_account" },
                    { data: "to_account" },
                ],
            });
        });
    </script>
{% endblock %}
