{% extends 'core/list.html' %}

{% block previous_content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Cuenta de Blaster</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                    <span class="info-box-text text-center text-muted">Disponible</span>
                                    <span class="info-box-number text-center text-muted mb-0">$ {{ account.balance }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                    <span class="info-box-text text-center text-muted">Ingresos</span>
                                    <span class="info-box-number text-center text-muted mb-0">$ {{ account.incomes }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                    <span class="info-box-text text-center text-muted">Egresos</span>
                                    <span class="info-box-number text-center text-muted mb-0">$ {{ account.expenses }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block table_headers %}
    <th>
        <div class="custom-control custom-checkbox">
            <input class="custom-control-input custom-control-input-lightblue" type="checkbox" id="select-all-items-checkbox">
            <label for="select-all-items-checkbox" class="custom-control-label"></label>
        </div>
    </th>
    <th>Fecha</th>
    <th>Concepto</th>
    <th>Monto</th>
    <th>Origen</th>
    <th>Destino</th>
    <th>Acciones</th>
{% endblock %}
