{% extends 'core/list.html' %}

{% block previous_content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Configuraciones necesarias para la impresion</h3>
                    <div class="card-tools">
                    </div>
                </div>
                <div class="card-body">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="#" class="nav-link" style="color: black; pointer-events: none;">
                                Altura de capa <span class="float-right badge bg-primary">{{ object.print.layer_height }} mm</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" style="color: black; pointer-events: none;">
                                Relleno <span class="float-right badge bg-warning">{{ object.print.infill }} %</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" style="color: black; pointer-events: none;">
                                Boquilla <span class="float-right badge bg-danger">{{ object.print.nozzle }} mm</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" style="color: black; pointer-events: none;">
                                Velocidad de impresion <span class="float-right badge bg-secondary">{{ object.print.speed }} mm/s</span>
                            </a>
                        </li>
                        <li class="nav-item"></li>
                    </ul>
                    <div class="row mt-2">
                        <div class="col-12 text-center">
                            <a href="{{ object.print.product.link }}" target="_blank" class="btn btn-primary"><i class="fas fa-download"></i> Descargar archivos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block table_headers %}
    <th>Nombre</th>
    <th>Escala X</th>
    <th>Escala Y</th>
    <th>Escala Z</th>
    <th>Cantidad</th>
    <th>Acciones</th>
{% endblock %}

{% block list_footer %}
    <div class="row">
        <div class="col-12 text-center">
            <a class="btn btn-outline-secondary" href="{% url 'orders:print_order_items' order_item_id %}"><i class="fas fa-caret-left"></i> Volver</a>
        </div>
    </div>
{% endblock%}

{% block table_scripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            CommonDataTable.init({
                table_id: "#main-table",
                source_url: window.location.href,
                columns: [
                    { data: "print_model" },
                    { data: "x_scale" },
                    { data: "y_scale" },
                    { data: "z_scale" },
                    { data: "quantity" },
                    { data: "id" },
                ],
                columnDefs: [
                    {
                        targets: [-1],
                        orderable: false,
                        render: function (data, type, row) {
                            let model_file = "-";

                            if (row.print_model_file){
                                model_file = `<a href="${row.print_model_file}" class="btn btn-primary" target="_blank">
                                    <i class="fas fa-download"></i>
                                </a>`;
                            }

                            return `
                                ${model_file}
                            `;
                        },
                    },
                ],
            });
        });
    </script>
{% endblock %}
