{% extends 'core/list.html' %}

{% block table_headers %}
    <th>Horas</th>
    <th>Minutos</th>
    <th>Gramos</th>
    <th>Material</th>
    <th>Color</th>
    <th>Estado</th>
    <th>Acciones</th>
{% endblock %}

{% block list_footer %}
    <div class="row">
        <div class="col-12 text-center">
            <a class="btn btn-outline-secondary" href="{% url 'orders:items' order_item.order.id %}"><i class="fas fa-caret-left"></i> Volver</a>
        </div>
    </div>
{% endblock%}

{% block table_scripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            CommonDataTable.init({
                table_id: "#main-table",
                source_url: window.location.href,
                columns: [
                    { data: "print.hours" },
                    { data: "print.minutes" },
                    { data: "print.grams" },
                    { data: "print.material" },
                    { data: "color" },
                    { data: "state" },
                    { data: "id" },
                ],
                columnDefs: [
                    {
                        targets: [-1],
                        orderable: false,
                        render: function (data, type, row) {
                            let update_url = "{% url 'orders:print_order_items_update' 0 %}".replace("0", data);
                            let change_state_url = "{% url 'orders:print_order_items_change_state' 0 %}".replace("0", data);
                            let detail_url = "{% url 'orders:print_order_items_detail' 0 %}".replace("0", data);
                            return `
                                <a href="${change_state_url}" class="btn btn-dark">
                                    <i class="fas fa-step-forward"></i>
                                </a>
                                <a href="${update_url}" class="btn btn-primary">
                                    <i class="fas fa-tint"></i>
                                </a>
                                <a href="${detail_url}" class="btn btn-info">
                                    <i class="fas fa-eye"></i>
                                </a>
                            `;
                        },
                    },
                ],
            });
        });
    </script>
{% endblock %}
